#form-wrap {
   
    margin: auto;
    max-width: 525px;
    min-height: 1010px;
    position: relative;
    background-color: #c9beebe1;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  
  .posicaoform-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 50px 70px 50px 70px;
    flex-wrap: wrap;
  }
  

  h2, h3 {
    text-align: center;
    color: #fff;
  }
  
  .form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  .form .group {
    margin-bottom: 15px;
  }
  
  .form .group .label,
  .form .group .input {
    width: 100%;
    color: #000;
    display: block;
  }
  
  .group .button,
  .group .input {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(211, 201, 201, 0.774);
  }
  
  .group .button,
  .group .label {
    text-transform: uppercase;
  }
  
  .group .button-spacing {
    margin-right: 10px;
  }
  
  .form .group .button {
    padding: 15px 50px;
  }
  
  #form-wrap .group .label {
    color: #fff;
    font-size: 16px;
  }
  
  #form-wrap .group .button {
    background:#e91e2f;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;
  }
  
  #form-wrap .group .button:hover {
    background:#ff9800;
  }


.button {
    margin-right: 10px;
  }

  

  .custom-button {
    background-color: #e91e2f; 
    color: #000; 
    font-size: 16px; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer;
    margin: 5px; 
  }

  .whatsapp-image {
    width: 40px; 
    height: auto; 
  }
  

  /*Radios style*/
  .group label {
    margin-right: 4px;
    display: inline-block;
    cursor: pointer;
    color: #000;
  }

  
  .ex1 span {
    background-color: #fff;
    display: block;
    padding: 5px 10px 5px 25px;
    border: 2px solid #ddd;
    border-radius: 5px;
    position: relative;
    transition: all 0.25s linear;
  }
  .ex1 span:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    -webkit-transform: translatey(-50%);
    transform: translatey(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ddd;
    transition: all 0.25s linear;
  }
  .ex1 input:checked + span {
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  }
  .ex1 .sim input:checked + span {
    color: #00ff00;
    border-color: #00ff00;
    background-color: #fff;
  }
  .ex1 .sim input:checked + span:before {
    background-color: #00ff00;
  }
  .ex1 .nao input:checked + span {
    color: #f5365c;
    border-color: #f5365c;
    background-color: #fff;
  }
  .ex1 .nao input:checked + span:before {
    background-color: #f5365c;
  }

  .custom-file-button {
    background-color: #e91e2f;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-file-button:hover {
    background-color: #ff9800;
  }

  /* Layout Form Update */
  .input-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .group {
    flex: 1;
    margin-right: 20px; /* Add some spacing between the input groups */
  }

